*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  position: inherit;

}

body{
  height:auto;
  text-align: center !important;
  font-family: 'Ma Shan Zheng', cursive !important;
}

section{
  background-color: thistle;
}

.alert{
  font-size: larger;
}

h1{
  color: thistle;
}

h2{
  color: thistle;
}

h1:hover{
  cursor:col-resize;
  color: black;
  background: darkgoldenrod;
  border-radius: 10vh;
  transform: scale(2);
  animation: shake 1.5s;
  z-index: 2;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  35% { transform: translate(-1px, -2px) rotate(-1deg); }
  75% { transform: translate(-3px, 0px) rotate(1deg); }
  100% { transform: translate(3px, 2px) rotate(0deg); }
}

h2:hover{
  cursor:e-resize;
  color: khaki;
  background: darkseagreen;
  animation: shake 0.5s;
  transform: scale(1.5);
}

nav {
  position: absolute !important;
  background-color: none !important;
  border-radius: 60% 0% 80% 0% !important;
}

.navbar-brand{
  cursor: inherit;
}

.logo {
  z-index: 2;
}

.logo:hover{
  display: block;
  transform: scale(2);
  transform-origin: bottom right;
}

header{
  padding-top: 5vh;
}

.f-card{
  height: 100vh;
  margin:auto;
}

.s-card{
  height:100vh;
  margin:auto;
}

.page{
  background-image: url("image/chinese-background.jpg");
}


.title-container{
  background: none;
  margin: auto;
  width: fit-content;
}

.title-container:hover{
   animation: change-layout 0.5s;
   transform: scale(1.5);
}

.index-container{
  padding-top: 30vh;
  width: fit-content;
  margin: auto;
}


.footer-caption{
  width:fit-content;
}

/*@media only screen and (min-width: 1000px) {

}*/
